// Imports
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

// Globals
$body-font-family: 'Poppins', sans-serif !important;

// Variables
$primarycolor: #536dfe;
$secondarycolor: red;